/* .class */
/* #id */
/* 直接打div,span, */
/* * 全部 */

.header { /* .class */
    background-color: rgb(193, 127, 127);
}
div {
    color: rgb(43, 48, 96);
}
#kk {
    background-color: aquamarine;
}
#kc{
    background-color: rgb(125, 178, 160);
}

.blue .blue-text { ＃
    color: blue;
}
.red ,
.red-text { 
    color: brown;
}
.green.green-text{
    color: darkgreen;
}
.pink {  
    background: linear-gradient(to right,pink,rgb(220, 220, 255))
    ; padding: 20px 30px;/* 上下 左右 */
    ; border-radius: 20px; /* 圓角 */
    
}

.OK { 
    padding: 20px 30px;/* 上下 左右 */
    background-image: url(./JJ2.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 30% 40%;
    border-radius: 30px; /* 圓角 */
    
}
.cc {
    padding: 30px 43px;
    /* 上下 左右 */
    border-radius: 100px; /* 圓角 */
    background-image: url(./JJ2.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.my-btn {
    background-color: aqua; /* 背景 */
    background-image: url(https://i.pinimg.com/1200x/cc/77/29/cc7729f6b61debd6f0f4acdff1972635.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center; /* 文字水平置中 */
    padding: 10px; /* 內距 */
    padding: 10px 5px 20px 20px;/* 上右下左 */
    padding: 10px 5px;/* 上下 左右 */
    border-radius: 20px; /* 圓角 */
    font-weight: bold; /* 字體粗細 100-900(100跳)*/
    width: 100px; /* 寬度 */
    box-shadow: 2px 2px 2px 2px gray; /* 陰影 x y 模糊半徑 陰影擴張 */
    margin: ; /* 外距 */
    /* opacity: 0-100; 透明度 */
    z-index: 1; /* 圖層順序 */
    box-sizing: border-box;/* 設定邊界感 鎖定長寬比 */
    /* overflow: hidden; 超出邊界的隱藏 */
    /* overflow: scroll; 可以滾來滾去 */
    /* overflow: auto;平常是隱藏的進去才會出現 */
    
    /* display: flex;
    justify-content: center;
    align-items: center;  水平置中效果 下面兩個指令只有遇到flex才會發生作用*/

    /* justify-content: space-between; 之間等距;
    justify-content: space-around; 旁邊空白 中間等距 */
  }
 .circle {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    line-height: 100px;
    border: 10px double rgb(255, 112, 136);
    text-align: center; /* 文字水平置中 */
    margin: 20px;
    font-style: initial;
 }
 .circle:hover {
background-color: rgb(255, 218, 192);
 }
 .circle:active {
    background-color: rgb(255, 213, 251);
    box-shadow: 2px 2px 2px 2px gray;
 }
 .mm {
    border-radius: 40%;
    padding: 20px;
    border: 4px double rgb(184, 184, 255);
    background-color: bisque;
    color: cornflowerblue;
    font-size: 1rem;
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 5px;
 }
 .mm:after {
    content: "100";
    background-color: rgb(255, 121, 141);
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
 }
 .mm:hover {
    padding: 20px 30px;
    opacity: 0;
    transition: all 0.5s ease;
 }


.box {
width: 100px;
height: 100px;
background-color: mistyrose;
position: relative;
}

.box-center {
display: inline-block;
background-color: lightcoral;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 0.5rem;
text-align: center;
}


  .ff {
    display: flex;
    justify-content: space-around;
    font-size: 0.5rem;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(230, 22, 91);
    align-items: center;
  }